* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.main {
    background-color: #101010;
    padding: 20px;
    align-items: center;
    border-radius: 30px;
}

.container{
    width: 1500px;
    height: 580px;
    border-radius: 30px;
}

.container h1 {
    text-align: center;
    color: #fff;
}

.input-password {
    display: flex;
    justify-content: center;
    position: relative;
}

.password-button {
    position: absolute;
    margin-top: 5px;
    right: 20%;
}

.password-button button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.password-button button span{
    display: inline-block;
    position: absolute;
    visibility: hidden;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    left: -20px;
    transition: transform 0.2s; 
}

#span-generate{
    left: 35px;
}

.password-button button:hover span {
    visibility: visible;
}

.password-button button:active {
    transform: scale(1.08);
}

.passworrd-copy{
    background-image: url(img/icon-copy.png);
    background-size: 100%;
}

.password-generator{
    background-image: url(img/icon-generate.png);
    background-size: 100%;
}

h2 {
    text-align: center;
    margin-top: 40px;
    position: relative;
    color: #fff;
}

h2::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    border-bottom: 2px solid #e4dede88;
}

.custom-range {
    margin: 30px 30px;
}

.custom-range::-webkit-slider-thumb {
    background: #fff;
    box-shadow: 0 0 2px 2px #fff;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-20%);
}

.custom-range::-webkit-slider-runnable-track {
    background: linear-gradient(to right, red, yellow, green);
}

.custom-range::-webkit-slider-thumb:active {
    background: #fff;
}

.custom-range:focus::-webkit-slider-thumb {
    outline: none;
    box-shadow: 0 0 2px 2px #fff;
}

.customize-password {
    display: flex;
    flex-direction: column;
}

.range-title {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.range-title h3 {
    margin-right: 10px;
    color: #fff;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    width: 11%;
}

.form-check-label {
    margin-left: 10px;
    color: #fff;
}

.customize-form-control {
    color: #fff;
    border-radius: 30px;
    width: 65%;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(0,57,115,1) 0%, rgba(9,9,121,1) 0%, rgba(16,16,16,1) 100%);
    border: 2px solid #35e708;
    box-shadow: 0 0 2px 2px #35e708;
}

.customize-form-control:focus{
    color: #fff;
    background: linear-gradient(to bottom, rgba(0,57,115,1) 0%, rgba(9,9,121,1) 0%, rgba(16,16,16,1) 100%);
    border: 2px solid #35e708;
    box-shadow: 0 0 2px 2px #35e708;
}

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.range-container input[type="range"] {
    width: 60%;
}

.lp-custom-range_number {
    height: 40px;
    text-align: center;
    width: 60px;
    background-color: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    max-width: 400px;
    padding: 8px;
    font-size: 16px;
    margin-right: 20px;
}